data/characters
data/bans
data/clans
data/logs
data/osrs156
data/osrs156xtea
data/osrs160
data/osrs160xtea
data/scripts
data/server
data/starters
bin/
lib/
.settings/
src.rar
DropEditorVenicillio.exe
Newtonsoft.Json.dll
Newtonsoft.Json.xml
hs_err_pid4264.log
hs_err_pid8980.log
Pat Server.iml
*.zip
src.old/
err/
map_index_osrs154
map_index_osrs160